.shell {
  grid-template-areas: "main-header" "main";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 46px minmax(0, 1fr);
}

@media (min-width: 768px) {
  .shell {
    grid-template-areas: "sidebar-header main-header" "sidebar main";
    grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  }
}

@media (min-width: 1100px) {
  .shell {
    grid-template-areas: "sidebar-header main-header context-header" "sidebar main context";
    grid-template-columns: var(--sidebar-width) minmax(0, 1.222fr) minmax(
        0,
        1fr
      );
  }
}

@media (min-width: 1250px) {
  .shell {
    grid-template-columns: var(--sidebar-width) minmax(0, 1.74fr) minmax(0, 1fr);
  }
}
